{% extends 'base.html' %}

{% block content %}
<div class="row"><h1> My corpora </h1></div>


<div class="row">
    <div class="corpora-container">
        {% for corpus in corpora %}
        <div class="corpus-card">
            <h1 style="text-align:center"> {{ corpus['name'] }}</h1>
            <div class="scrollbox">{{ corpus['description'] if corpus['description'] else ''}}</div>
            <table>
                <tbody>
                <tr> <td>Corpus ID</td> <td> {{ corpus['id'] }}</td> </tr>
                <tr> <td>Number of documents</td> <td> {{ corpus['nDocuments'] }}</td> </tr>
                <tr> <td>Created on</td> <td> {{ corpus['created'] }}</td> </tr>
                </tbody>
            </table>
            <div class="row">
                <button type="submit" name= "open-corpus" id="open-corpus-{{ corpus['id'] }}">Open in corpus builder</button>
                <button type="submit" onclick="window.location.href=&quot;{{ url_for('extract.extract_corpus', corpus_id=corpus['id']) }}&quot;" name= "extract-corpus" id="extract-corpus-{{ corpus['id'] }}">Export options</button>
                <button type="submit" name= "delete-corpus" id="delete-corpus-{{ corpus['id'] }}">Delete corpus</button>
                <button type="submit" name="share-corpus">Share with other user</button>
            </div>
        </div>
        {%endfor%}
    </div>
</div>



    {% endblock %}


